
#briSlider .slider-selection {
	background: #fd00fd;
}


#satSlider .slider-selection {
	background: #fd00fd;
}

#tempSlider .slider-selection {
	background: #fd00fd;
}


#redSlider .slider-selection {
	background: #fd00fd;
}


#greenSlider .slider-selection {
	background: #fd00fd;
}

#blueSlider .slider-selection {
	background: #fd00fd;
}


#satEditSlider .slider-selection {
	background: #fd00fd;
}


#briEditSlider .slider-selection {
	background: #fd00fd;
}

#tempEditSlider .slider-selection {
	background: #fd00fd;
}

html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto; 
}